.App {
  text-align: center;
}

.form {
  display: grid;
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

.form-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 20px;
}

.buttons {
  display: inline;
  margin-top: 10px;
}

.input-form {
  width: 50%;
}